<% if @user.id == current_user.id%>

  <h1><%= @user.username %></h1>


    <h2>Yours photos</h2>
  <ul class = "image-gallery" width="50%">
    <% @user.photos.each do |photo| %>
      <li>
        <%= link_to photo_path(photo) do %>
        <%=display_photo(photo)%>
        <% end %>
      </li>
    <% end %>
  </ul>



  <h2>Liked photos</h2>
  <ul class = "image-gallery" width="50%">
    <% @user.favorites.each do |favorite| %>
      <li>
        <% photo = Photo.find(favorite.favoritable_id)%>
        <%=display_photo(photo)%>
      </li>
    <% end %>
  </ul>

<%= link_to "Add a photo", new_photo_path(current_user)%>

<%= link_to "Edit your profile", edit_user_registration_path(current_user)%>

<% else%>

<p> You are not authorized to view this page</p>

<%end%>
