<div class="trips-list">
  <h2> all <%= @user.username %> trips</h2>
</div>
<div class="all-trips">
  <ul>
  <% @trips_with_photos.each do |i, trip| %>
    <li class="trip-name">
      <%= i %>
      <li class="trips-photos">
        <% trip.each do |photo| %>
          <%= display_photo(photo) %>
        <% end %>
      </li>
    </li>
    <% end %>
  </ul>
</div>

  <%# <% <h2>Liked photos</h2>
  <ul class = "image-gallery" width="50%">
    <% @user.favorites.each do |favorite| %>
      <%# <% <li>
        <% photo = Photo.find(favorite.favoritable_id)%>
        <%# <% <%=display_photo(photo)%>
      <%# <% </li>
    <% end %>
  <%# </ul> %>

<%= link_to "Add a photo", new_photo_path(current_user)%>

<%= link_to "Edit your profile", edit_user_registration_path(current_user)%>
