<div class = "img_gallery_photo_hover">
  <div class="img_gallery_photo_hover_info">
    <p id = "img_gallery_text4"> <%=photo.creation_date_time.strftime("%I:%M%p")%></p>
  </div>
  <div class = "img_gallery_photo_hover_user">
    <% if photo.flickr? %>
      <%= %>
    <% else %>
      <%= cl_image_tag "#{photo.user.photo.key}", id: "img_gallery_text3"%>
    <% end %>
    <p id= "img_gallery_text2"><%=photo.creator%></p>
  </div>
</div>
<img src="<%= photo.url %>" class = "img_gallery_photo" alt="">
