
  <%if photo.flickr%>
    <%= link_to photo_path(flickr: true, url: photo.url, id: photo.id, longitude: photo.longitude, latitude: photo.latitude) , data: {"turbo": false} do %>
              
              <% if photo.photo.key %>
                <%= cl_image_tag photo.photo.key, :class => "popup-photo",height: 300, width: 400, crop: :fill %>
              <% else %>
                <img src="<%= photo.url %>" class = "img_gallery_photo popup-photo" alt="">
              <% end%>

                <div class="window-content">
                  <h2><i class="fa-solid fa-user opacity-25"></i>  <%=photo.creator%><h2>
                  <div class="picture-time">
                  
                  </div>
                </div>
              </div>

    <%end%>
  <%else%>
    <%= link_to photo_path(photo) , data: {"turbo": false} do%>
       
      <% if photo.photo.key %>
        <%= cl_image_tag photo.photo.key, :class => "popup-photo",height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="<%= photo.url %>" class = "img_gallery_photo popup-photo" alt="">
      <% end%>

        <div class="window-content">
          <h2><i class="fa-solid fa-user opacity-25"></i>  <%=photo.creator%><h2>
          <div class="picture-time">
          
          </div>
        </div>
      </div>
    <% end %>
          <% end %>