
<div>
<h1>Your Results</h1>
<div class = "d-flex map-image-container">
<div style="min-width: 40%; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


  <ul class = "image-gallery">
   <% @photos.each do |photo| %>
    <li>
      <%=display_photo(photo)%>
     </li>
     <!--<li><%= photo.creator %> / <%= photo.creation_date_time %> / <%= photo.location %></li>
     <li><%= display_photo(photo) %></li>-->

  <% end %>
  </div>
  </div>

