
<h1 id = "photo-index-h1"><%=params[:query_location]%> - <%=Date::MONTHNAMES[(params[:query_month]).to_i]%> - <%=params[:query_radius]%>km </h1>


<div class = "d-flex image-map-container" data-controller = "resizer" data-resizer-target = "parent">
  <div style="width: 100%; height: 600px;" class = "map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-resizer-target = "left">
  </div>

<div  data-action = "mousedown->resizer#resize mousemove->resizer#mouseMoveHandler" data-resizer-target = "center" style = "cursor: col-resize">

</div>
  <ul class = "image-gallery" data-resizer-target = "right" >
    <% @photos.each do |photo| %>
      <li>
      <%if photo.flickr%>
        <%= link_to photo_path(flickr: true, url: photo.url, id: photo.id, longitude: photo.longitude, latitude: photo.latitude) do %>
          <%= display_photo(photo) %>
        <%end%>
      <%else%>
        <%= link_to photo_path(photo) do%>
          <%= display_photo(photo)%>
        <%end%>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>
