<h1>Working</h1>



<%# @photos.each do |photo| %>

    <%# if photo.creation_date_time%>
    <%#=photo.creation_date_time%>
    <%#end%>

<%#end%>

<%#=@photo%>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


  <ul>
  <% @photos.each do |photo| %>
      <li><%= photo.creator %> / <%= photo.creation_date_time %> / <%= photo.location %></li>
      <li><%= display_photo(photo) %></li>
  <% end %>
</ul>
