<div class="container-new-photo">

<h1>Upload Photo</h1>

<%= form_with model: @photo, local: true do |form| %>

  <div data-controller="image-preview">
    <img width='300px' style='display: none' src="#" data-image-preview-target="output">




      <div class="wrapper">
        <div class="file-upload">
          <div class="my-2">
              <%= form.file_field :photo,
                :class => "form-control-file photo_upload",
                data: {
                  image_preview_target: "input",
                  action: "image-preview#readURL"
                } %>
            </div>
          <i class="fa fa-arrow-up"></i>
        </div>
      </div>

    <p style="color: red; display: none;" data-image-preview-target="warning">No location on this photo, it is not possible to upload it.</p>

    <div class="my-2" style="display: none;">
      <%= form.text_field :camera,
        :class => "form-control-file photo_upload",
        data: {
          image_preview_target: "camera",
          action: "image-preview#readURL"
        } %>
    </div>
    <div class="my-2" style="display: none;">
      <%= form.text_field :creation_date_time,
        :class => "form-control-file photo_upload",
        data: {
          image_preview_target: "creation",
          action: "image-preview#readURL"
        } %>
    </div>
    <div class="my-2" style="display: none;">
      <%= form.text_field :location,
        :class => "form-control-file photo_upload",
        data: {
          image_preview_target: "location",
          action: "image-preview#readURL"
        } %>
    </div>
    <div class="my-2" style="display: none;">
      <%= form.text_field :aperture,
        :class => "form-control-file photo_upload",
        data: {
          image_preview_target: "aperture",
          action: "image-preview#readURL"
        } %>
    </div>
    <div class="my-2" style="display: none;">
      <%= form.text_field :lens,
        :class => "form-control-file photo_upload",
        data: {
          image_preview_target: "lens",
          action: "image-preview#readURL"
        } %>
    </div>
    <div class="my-2" style="display: none;">
      <%= form.text_field :focal_length,
        :class => "form-control-file photo_upload",
        data: {
          image_preview_target: "focal_length",
          action: "image-preview#readURL"
        } %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
  <% end %>


</div>
