<%= link_to "back to index", photos_path, class: "btn-back"%>
<%= link_to "back to user  ", user_path(current_user), class: "btn-back" %>
<br>
 <% if @photo.id%>
    <% if current_user == nil %>


    <% elsif current_user.favorited?(@photo) %>
      <%= button_to toggle_favorite_photo_path(@photo), method: :post, class: 'coeur' do%>
        <i class="fas fa-heart red-tog"></i>
      <% end %>
      </div>
    <% else %>
      <%= button_to toggle_favorite_photo_path(@photo), method: :post, class: 'coeur' do%>
        <i class="fas fa-heart"></i>
      <% end %>
      </div>
    <% end %>
    <%end%>

<div class="show-map">
  <div class="user-show-photo">


    <%= show_photo(@photo) %>

  </div>

  <div class="show-content">
    <h2>A photo taken by <%= @photo.creator %></h2>
    <p>Focal length : <%= @photo.focal_length %></p>
    <p>A photo taken at <%= @photo.creation_date_time %></p>
    <p>Camera : <%= @photo.camera %></p>
    <p>Aperture : <%= @photo.aperture %></p>
    <p>Lens : <%= @photo.lens %></p>
    <p>Location : <%= @photo.location %></p>
    <br>

     <% if current_user = @photo.user %>
      <div>
        <%= link_to "Destroy this photo", user_path(current_user), data: { turbo_method: :delete, turbo_confirm: "Please, we need your photo"}%>
      </div>
    <%end%>
    <br>
    <br>

    <div style="width: 500px; height: 400px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
