
<div class = "photo-show-banner">

  <% if params[:flickr]%>
    <%address =  Geocoder.search([params['latitude'], params['longitude']])%>
  <%else%>
    <%address =  Geocoder.search([@photo.latitude, @photo.longitude])%>
  <%end%>
  <div class="user-show-photo">
    <%= show_photo(@photo) %>
  </div>
</div>



<div class = "info-and-map">

  <div class = "address-time">
    <p id = "address" ><span class = "labels"><i class="fa-solid fa-location-dot"></i></span> <%= address.first.address%></p>
    
    <% photo_time = @photo.creation_date_time.nil? ? 'Unknown Time' : @photo.creation_date_time.strftime("%A %d %B at %I:%M%p") %>

    <p><span class = "labels"><i class="fa-regular fa-calendar-days"></i> </span><%= photo_time %>
    <p><span class = "labels"><i class="fa-solid fa-camera"></i> </span><%= @photo.camera %></p>
    <p><span class = "labels"><i class="fa-solid fa-camera-retro"></i> </span><%= @photo.focal_length %></p>
    <p><span class = "labels"><i class="fa-solid fa-record-vinyl"></i> </span><%= @photo.aperture.to_f.round(2) %></p>

    <div class="row_button">
      <button onclick="history.back()"  class="btn-back"><i class="fa-solid fa-angle-left"></i></button>
      <% if @photo.id%>
        <% if current_user == nil %>
        <% elsif current_user.favorited?(@photo) %>
          <%= button_to toggle_favorite_photo_path(@photo), method: :post, class: 'coeur btn-back' do%>
            <i class="fas fa-heart red-tog"></i>
          <% end %>
        <% else %>
          <%= button_to toggle_favorite_photo_path(@photo), method: :post, class: 'coeur btn-back' do%>
            <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      <%end%>
        
    </div>
  </div>


  <div class="show-map">
      <div class = "show-page-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
 <%# finish info-and-map div  %>
</div>
